<h1>Interpret hinzufügen</h1>
<div id="add-artist-container" class="oj-form-layout">
    <div class="oj-form">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO:
                // WORKSHOP_END
                  Teil 1: Erstelle ein input-Element und ein zugehöriges Label
                    für den Namen des Interpreten, der Wert soll mit dem 'name'
                    Observable synchronisiert werden.
                  Teil 2: Füge Validierung für das input-Element hinzu
                    - leere Werte sind nicht erlaubt
                    - das 'tracker' Observable speichert den Status der Validierung
                  -->
                // FINAL_START
                <label for="nameControl">Name:</label>
                <input id="nameControl"
                    placeholder="Name des Interpreten"
                    data-bind="ojComponent: {
                        component: 'ojInputText',
                        value: name,
                        required: true,
                        invalidComponentTracker: tracker,
                        rootAttributes: {style:'max-width:100%'}
                    }
                ">
                // FINAL_END
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO:
                // WORKSHOP_END
                  Teil 1: Erstelle ein select-Element und ein zugehöriges Label
                    für das Genre des Interpreten, der Wert soll mit dem 'genre'
                    Observable synchronisiert werden. Definiere mindestens drei
                    Genres aus denen der User wählen kann.
                  Teil 2 (Bonus): Füge Validierung für das select-Element hinzu
                    - füge zunächst eine default-Option hinzu, die mit "Bitte
                      wählen" beschrieben ist
                    - referenziere den custom validator, der im ViewModel
                      definiert ist
                -->
                // FINAL_START
                <label for="genreControl">Genre:</label>
                <select id="genreControl" required data-bind="ojComponent: {
                    component: 'ojSelect',
                    value: genre,
                    validator: [noDefault]
                }">
                <option value="default" selected="true">Bitte wählen</option>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="schlager">Schlager</option>
            </select>
            </div>
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO:
                // WORKSHOP_END
                  Teil 1: Erstelle ein input-Element und ein zugehöriges Label
                    für das Gründungsjahr des Interpreten, der Wert - dieses mal
                    eine Zahl und nicht nur Text - soll mit dem 'year' Observable
                    synchronisiert werden.
                  Teil 2: Füge Validierung für das input-Element hinzu
                    - leere Werte sind nicht erlaubt
                    - eine Ober- und Untergrenze verhindert unrealistische Eingaben
                    - das 'tracker' Observable speichert den Status der Validierung
                  Teil 3 (Bonus): Füge einen Converter hinzu, der Nachkommastellen rundet.
                -->
                // FINAL_START
                <label for="yearControl">Gründungsjahr:</label>
                <input id="yearControl" data-bind="ojComponent: {
                    component: 'ojInputNumber',
                    value: year,
                    required: false,
                    invalidComponentTracker: tracker,
                    max: 2016,
                    min: 1800,
                    converter: {
                        type: 'number',
                        options: {
                            style: 'decimal',
                            roundingMode: 'HALF_DOWN',
                            maximumFractionDigits: 0,
                            useGrouping: false
                        }
                    }
                }">
                // FINAL_END
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO:
                // WORKSHOP_END
                  Teil 1: Füge einen Button hinzu, der bei Klick die 'save'
                    Funktion des ViewModels aufruft. Für das Alta-UI Design
                    müssen bestimmte CSS Klassen gesetzt werden.
                  Teil 2: Referenziere die 'shouldDisableAdd' Funktion damit der
                    Button nicht klickbar ist wenn Fehler im Formular auftreten.
                -->
                // FINAL_START
                <button id="add-artist-button" class="oj-button oj-button-confirm" data-bind="click: save, ojComponent: {
                    component: 'ojButton',
                    label: 'Speichern',
                    disabled: shouldDisableAdd()
                }">
                </button>
                // FINAL_END
            </div>
        </div>
    </div>
</div>
