<h1>Interpret hinzufügen</h1>
<div id="add-artist-container" class="oj-form-layout">
    <div class="oj-form">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO 1.1: Erstelle das 'name' input-Element und ein zugehöriges Label
                // WORKSHOP_END
                    - erstelle ein input-Element und ein zugehöriges Label für den Namen
                      des Interpreten, nach Vorlage aus dem Cookbook
                    - der Wert soll mit dem 'name' Observable synchronisiert werden
                // WORKSHOP_START
                  TODO 4.1: Implementiere die Validierung für das 'name' input-Element
                // WORKSHOP_END
                    - leere Werte sind nicht erlaubt, setze also das `required` Attribut
                      der Komponente auf `true`                        
                    - das 'tracker' Observable soll den Status der Validierung speichern,
                      zu setzen über das `invalidComponentTracker` Attribut
                    - der in JET eingebaute Required-Validator übernimmt die eigentliche Logik 
                  -->
                // FINAL_START
                <label for="nameControl">Name:</label>
                <input id="nameControl"
                    placeholder="Name des Interpreten"
                    data-bind="ojComponent: {
                        component: 'ojInputText',
                        value: name,
                        required: true,
                        invalidComponentTracker: tracker,
                        rootAttributes: {style:'max-width:100%'}
                    }
                ">
                // FINAL_END
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO 1.2: Erstelle das 'genre' select-Element und ein zugehöriges Label 
                // WORKSHOP_END
                    - erstelle ein select-Element und ein zugehöriges Label für das Genre
                      des Interpreten, nach Vorlage aus dem Cookbook
                    - der Wert soll mit dem 'genre' Observable synchronisiert werden
                    - definiere mindestens drei frei wählbare Genres aus denen der User wählen kann                    
                // WORKSHOP_START
                  TODO 4.2: Implementiere die Validierung für das 'genre' select-Element
                // WORKSHOP_END
                    - füge zunächst eine default-Option hinzu, die mit "Bitte
                      wählen" beschrieben ist
                      - setze das `selected` Attribut dieses option-Elements auf `true`
                      - value muss 'default' lauten damit die bereits implementierte Validierung hinterher funktioniert
                    - auch hier ist eine Eingabe des Users erforderlich , setze also das `required` Attribut
                      der Komponente auf `true` (rendert autom. einen blauen Stern im Label)
                    - es gibt keinen in JET eingebauten Validator für select-Elemente, daher erfolgt
                      die Validierung dieses Elements manuell
                        - Referenz auf das `invalidComponentTracker` Observable also nicht nötig
                        - die manuelle Validierung ist bereits implementiert und kann bei Bedarf im
                          ViewModel in der `shouldDisableAdd` Funktion nachgelesen werden
                -->
                // FINAL_START
                <label for="genreControl">Genre:</label>
                <select id="genreControl" data-bind="ojComponent: {
                    component: 'ojSelect',
                    required: true,
                    value: genre
                }">
                <option value="default">Bitte wählen</option>
                <option value="rock">Rock</option>
                <option value="pop">Pop</option>
                <option value="schlager">Schlager</option>
            </select>
            // FINAL_END
            </div>
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO 1.3: Erstelle das 'year' input-Element (nur Zahlen) und ein zugehöriges Label
                // WORKSHOP_END
                    - erstelle ein input-Element und ein zugehöriges Label für das Gründungsjahr
                      des Interpreten, nach Vorlage aus dem Cookbook
                      - d.h. es sind nur Zahlen als Eingabe erlaubt
                  - der Wert soll mit dem 'year' Observable synchronisiert werden.
                // WORKSHOP_START
                  TODO 4.3: Implementiere die Validierung für das 'year' input-Element
                // WORKSHOP_END                  
                    - eine Leereingabe ist erlaubt (`required` also nicht setzen)
                    - es gibt allerdings einige Regeln für den Fall dass eine Eingabe gemacht wird:
                        - die `min` und `max` Werte sollten auf 1000 bzw. 2016 gesetzt werden, damit
                          der in JET eingebaute Validator unrealistische Werte abfangen kann                      
                    - das 'tracker' Observable soll den Status der Validierung speichern,
                      zu setzen über das `invalidComponentTracker` Attribut
                // WORKSHOP_START
                  TODO 6 (Bonus): Füge einen Converter hinzu, der Nachkommastellen rundet
                // WORKSHOP_END
                -->
                // FINAL_START
                <label for="yearControl">Gründungsjahr:</label>
                <input id="yearControl" data-bind="ojComponent: {
                    component: 'ojInputNumber',
                    value: year,
                    required: false,
                    invalidComponentTracker: tracker,
                    max: 2016,
                    min: 1000,
                    converter: {
                        type: 'number',
                        options: {
                            style: 'decimal',
                            roundingMode: 'HALF_DOWN',
                            maximumFractionDigits: 0,
                            useGrouping: false
                        }
                    }
                }">
                // FINAL_END
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                // WORKSHOP_START
                  TODO 1.4: Erstelle einen Button zum Speichern der Daten
                // WORKSHOP_END
                  - erstelle ein button-Element, nach Vorlage aus dem Cookbook
                  - bei Klick die auf den Button soll die 'save' Funktion des ViewModels 
                    ausgeführt werden
                  - für das Alta-UI Design kann die `oj-button` CSS-Klasse gesetzt werden
                    - nach Belieben auch `oj-button-confirm`
                // WORKSHOP_START
                  TODO 4.4: Implementiere die autom. Deaktivierung des Buttons bei ungültiger Eingabe
                // WORKSHOP_END
                    - die benötigte Logik ist im ViewModel bereits implementiert
                    - rufe im `disabled` Attribut die 'shouldDisableAdd' Funktion auf damit der Button nicht klickbar
                      ist wenn Fehler im Formular auftreten
                      - Wichtig: Hier ist tatsächlich ein *Aufruf* der Funktion und nicht bloß eine Referenz darauf nötig
                -->
                // FINAL_START
                <button id="add-artist-button" class="oj-button oj-button-confirm" data-bind="click: save, ojComponent: {
                    component: 'ojButton',
                    label: 'Speichern',
                    disabled: shouldDisableAdd()
                }">
                </button>
                // FINAL_END
            </div>
        </div>
    </div>
</div>
