// WORKSHOP_START
<!--
  TODO 4.1 (Bonus): Zeige den Namen des Interpreten an
  - erstelle hierfür ein div- oder h1-Element, dessen Text per data-binding
    an das `artist`-Observable gebunden ist
  
  TODO 4.4 (Bonus): Du kannst zusätzlich das Bild des interepreten anzeigen
  - Bilder werden in Oracle JET für gewöhnlich mit div-Elementen realisiert
    - s. Cookbook für weitere Informationen

  Tipp:
    -Wenn ein einzelnes Attribut eines Objekts angezeigt werden soll, das in einem
      Observable gespeichert ist, so muss das Objekt zunächst aus dem Observable
      ausgepackt werden, bspw `artist().id`
    -Wenn mehrere Attribute des gleichen Objekts angezeigt werden sollen, ist
      das 'with' data-binding hilfreich (s. Knockout Dokumentation)
-->
// WORKSHOP_END
// FINAL_START
<!-- Referenz auf Attribut des im Observable hinterlegten Objekts: -->
<!-- <h1 data-bind="text: artist().name"></h1> -->
<div id="artist">
    <!-- 'with' data-binding zum 'artist' Observable im ViewModel -->
    <div data-bind="with: artist">
        <!-- Bild des Interpreten mit if-Abfrage die ReferenceError vermeidet -->
        <div class="cover-container" data-bind="if: images.length > 0">
            <div role="img"
              class="artist-image cover"
              data-bind="style: { backgroundImage: 'url(\'' + cover.url + '\')' }">
            </div>
        </div>
        <!-- Name des Interpreten -->
        <h1 data-bind="text: name"></h1>
    </div>
</div>
// FINAL_END
