// WORKSHOP_START
<!-- TODO (Bonus):
  Implementiere hier die View des neuen 'artist' Moduls.
  Erstelle hierfür ein div- oder h1- Element das den Namen des Interpreten anzeigt.
  Also weiterführende Aufgabe kannst du außerdem das Bild und/oder die Alben des
  Interpreten anzeigen.

  Tipp:
    -Wenn ein einzelnes Attribut eines Objekts angezeigt werden soll, das in einem
      Observable gespeichert ist, so muss das Objekt zunächst aus dem Observable
      ausgepackt werden, bspw `artist().id`
    -Wenn mehrere Attribute des gleichen Objekts angezeigt werden sollen, ist
      das 'with' data-binding hilfreich (s. Knockout Dokumentation)
-->
// WORKSHOP_END
// FINAL_START
<!-- Referenz auf Attribut des im Observable hinterlegten Objekts: -->
<!-- <h1 data-bind="text: artist().name"></h1> -->
<div id="artist">
    <!-- 'with' data-binding zum 'artist' Observable im ViewModel -->
    <div data-bind="with: artist">
        <!-- Bild des Interpreten mit if-Abfrage die ReferenceError vermeidet -->
        <div class="cover-container" data-bind="if: images.length > 0">
            <div role="img"
              class="artist-image cover"
              data-bind="style: { backgroundImage: 'url(\'' + cover.url + '\')' }">
            </div>
        </div>
        <!-- Name des Interpreten -->
        <h1 data-bind="text: name"></h1>
    </div>
</div>
// FINAL_END
