<div id="search">
    <div>
        <input id="search-input"
            type="text"
            placeholder="Spotify Suche"
            data-bind="ojComponent: {
                component: 'ojInputSearch',
                options: [],
                value: query
            }" />
        <ul id="listview" aria-label="Query results (list of artists)" data-bind="ojComponent: {
                component: 'ojListView',
                data: dataSource,
                selectionMode: 'single',
                item: {template: 'artist-template'}
            }">
        </ul>
    </div>

    <script type="text/html" id="artist-template">
        <li data-bind="attr: {id: id}">
            <div class="oj-flex" style="flex-wrap: nowrap">
                <div class="thumbnail-container" data-bind="if: images.length > 0">
                    <div role="img" class="artist-image thumbnail" data-bind="style: { backgroundImage: 'url(\'' + thumbnail.url + '\')' }"></div>
                </div>
                <div class="oj-flex-item artist-name">
                    <div>
                        <!--
                          // WORKSHOP_START
                          TODO:
                          // WORKSHOP_END
                          Rufe im click-Handler die 'selectArtist' Funktion des Parent-Moduls auf.
                          Entferne hierfür den 'alert' Aufruf und referenziere stattdessen mithilfe
                          von $parent die entsprechende Funktion des SearchViewModels.
                        -->
                        <button data-bind=" attr: { id: index },
                                            // WORKSHOP_START
                                            click: alert('clicked'),
                                            // WORKSHOP_END
                                            // FINAL_START
                                            click: $parent.selectArtist,
                                            // FINAL_END
                                            ojComponent: {
                                                component: 'ojButton',
                                                label: name
                                            }">
                        </button>
                    </div>
                </div>
            </div>
        </li>
    </script>
</div>
