 <!--
  TODO - Bonus:
  Wenn noch Zeit übrig ist, kannst du hier die Daten des Albums visualisieren.
  In der Lösung haben wir ein Kreisdiagramm erstellt welches die Dauer der Tracks
  des Albums visualisiert, aber es ist bspw. auch eine Liste, ein Linien- oder
  Pyramidendiagramm denkbar.
  Die Daten werden im ViewModel bereits heruntergeladen und aufbereitet, je
  nach Wunsch können dort noch Anpassungen vorgenommen werden (s. `album.js`).
  Desweiteren könnten noch allgemeine Daten wie der Name des Albums und das
  Albumcover angezeigt werden.
  -->
