<!-- TODO (Bonus):
  Implementiere hier die View des neuen 'artist' Moduls.
  Erstelle hierfür ein div- oder h1- Element das den Namen des Interpreten anzeigt.
  Also weiterführende Aufgabe kannst du außerdem das Bild und/oder die Alben des
  Interpreten anzeigen.

  Tipp:
    -Wenn ein einzelnes Attribut eines Objekts angezeigt werden soll, das in einem
      Observable gespeichert ist, so muss das Objekt zunächst aus dem Observable
      ausgepackt werden, bspw `artist().id`
    -Wenn mehrere Attribute des gleichen Objekts angezeigt werden sollen, ist
      das 'with' data-binding hilfreich (s. Knockout Dokumentation)
-->
