<div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
    <div class="oj-flex-bar-start">
        <button class="backButton" data-bind="
            click: goBack,
            visible: displayBackButton,
            ojComponent: {
              component:'ojButton',
              icons: {start:'oj-fwk-icon-caret-start oj-fwk-icon'},
              label: 'Back'
            }">
        </button>
    </div>
    <div class="oj-flex-bar-center-absolute">
        <span id="logo" role="img" class="oj-icon appheader-logo-enpit" title="Enpit Logo" alt="Enpit Logo"></span>
        <h1 class="oj-web-applayout-header-title" title="Application Name" data-bind="text: title"></h1>
    </div>
    <div class="oj-flex-bar-end">
        <button class="add-artist-button"
                data-bind="
                    click: goAddArtist,
                    visible: displayAddArtistButton,
                    ojComponent: {
                        component:'ojButton',
                        label: '+'
                    }">
        </button>
    </div>
</div>
