<h1>Interpret hinzufügen</h1>
<div id="add-artist-container" class="oj-form-layout">
    <div class="oj-form">
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                  TODO:
                  Teil 1: Erstelle ein input-Element und ein zugehöriges Label
                    für den Namen des Interpreten, der Wert soll mit dem 'name'
                    Observable synchronisiert werden.
                  Teil 2: Füge Validierung für das input-Element hinzu
                    - leere Werte sind nicht erlaubt
                    - das 'tracker' Observable speichert den Status der Validierung
                  -->
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                  TODO:
                  Teil 1: Erstelle ein select-Element und ein zugehöriges Label
                    für das Genre des Interpreten, der Wert soll mit dem 'genre'
                    Observable synchronisiert werden. Definiere mindestens drei
                    Genres aus denen der User wählen kann.
                  Teil 2 (Bonus): Füge Validierung für das select-Element hinzu
                    - füge zunächst eine default-Option hinzu, die mit "Bitte
                      wählen" beschrieben ist
                    - referenziere den custom validator, der im ViewModel
                      definiert ist
                -->
            </div>
        </div>
        <div class="oj-flex">
            <div class="oj-flex-item">
                <!--
                  TODO:
                  Teil 1: Füge einen Button hinzu, der bei Klick die 'save'
                    Funktion des ViewModels aufruft. Für das Alta-UI Design
                    müssen bestimmte CSS Klassen gesetzt werden.
                  Teil 2: Referenziere die 'shouldDisableAdd' Funktion damit der
                    Button nicht klickbar ist wenn Fehler im Formular auftreten.
                -->
            </div>
        </div>
    </div>
</div>
