<div id="artist">
    <!-- 'with' data-binding zum 'artist' Observable im ViewModel -->
    <div data-bind="with: artist">
        <!-- Bilds des Interpreten mit if-Abfrage die ReferenceError vermeidet -->
        <div class="cover-container" data-bind="if: images.length > 0">
            <div role="img"
              class="artist-image cover"
              data-bind="style: { backgroundImage: 'url(\'' + cover.url + '\')' }">
            </div>
        </div>
        <!-- Name des Interpreten -->
        <h1 data-bind="text: name"></h1>
    </div>
</div>
