<div id="artist">
    <div data-bind="with: artist">
        <div class="cover-container" data-bind="if: images.length > 0">
            <div role="img" class="artist-image cover" data-bind="style: { backgroundImage: 'url(\'' + cover.url + '\')' }">
            </div>
        </div>
        <h1 data-bind="text: name"></h1>
    </div>
    <!--
    // WORKSHOP_START
     TODO:
    // WORKSHOP_END
      Erstelle ein Balkendiagramm das die Alben des zuvor vom Anwender
      ausgewählten Interpreten anzeigt. Bei Klick auf einen der Balken soll das
      'selectedAlbums' Array mit dem ausgewählten Album aktualisiert werden,
      sodass die Navigation zur 'album' View ausgeführt werden kann.
      -->
    // FINAL_START
    <div id="artistChart"
        data-bind="ojComponent: {
            component: 'ojChart',
            type: 'bar',
            orientation: 'vertical',
            stack: 'off',
            series: albums,
            groups: ['Popularity'],
            animationOnDisplay: 'auto',
            animationOnDataChange: 'auto',
            hoverBehavior: 'dim',
            selectionMode: 'single',
            selection: selectedAlbums
        }"
        style="max-width:500px;width:100%;height:350px;">
    </div>
    // FINAL_END
</div>
